.container{
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows: 50px;
    justify-content: space-around;
    margin: 30px;
    background-color: rgb(196, 15, 69);
}